@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

// Colors
$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$mainBG: hsl(217, 54%, 11%);
$cardBG: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);
$mainBGL: hsl(217, 54%, 11%);
$cardBGL: rgba(11, 24, 44, 0.611);
// Typography
$outfit: Outfit, sans-serif;

body {
  background: $mainBG;
  padding: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.card {
  background: $cardBG;
  padding: 1.8rem;
  padding-bottom: 2rem;
  border-radius: 20px;
  box-shadow: 0px 2.5rem 0px 18px hsl(216, 50%, 10.9%),
    0px 1.9rem 0px 63px rgba(14, 27, 47, 0.438);
  // 0.555
  //.438
  // rgb(14, 27, 47)
  // hsl(217, 54%, 12%)
  .card-image {
    width: 100%;
    position: relative;
    cursor: pointer;
    img {
      display: block;
      width: inherit;
      border-radius: 12px;
    }

    .eye {
      visibility: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .card-image::before {
    position: absolute;
    top: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }
  section:hover::before {
    background: $cyan;
    opacity: 0.5;
  }

  section:hover .eye {
    visibility: visible;
  }
}

.card-body {
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.2rem;
  border-bottom: 1px solid $line;
  margin-bottom: 1rem;

  .card-title {
    font-family: $outfit;
    font-weight: 600;
    color: $white;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .card-title:hover {
    color: $cyan;
  }
  .card-description {
    width: 100%;
    font-family: $outfit;
    color: $softBlue;
    font-size: 1.2rem;
    opacity: 0.9;
  }

  .sub-details {
    width: inherit;
    display: flex;
    justify-content: space-between;

    section {
      width: max-content;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .eth {
        font-family: $outfit;
        font-size: 1.1rem;
        font-weight: 600;
        color: $cyan;
      }

      .time-left {
        font-family: $outfit;
        font-size: 1.1rem;
        font-weight: 600;
        color: $softBlue;
      }
    }
  }
}

.card-footer {
  display: flex;
  align-items: center;
  gap: 1rem;
  .avatar {
    display: block;
    width: 2.5rem;
    border: 1px solid $white;
    border-radius: 50%;
  }

  p {
    font-family: $outfit;
    font-size: 1.1rem;
    .first {
      color: $softBlue;
    }

    .second {
      color: $white;
      cursor: pointer;
    }

    .second:hover {
      color: $cyan;
    }
  }
}

.attribution {
  font-family: $outfit;
  font-size: 0.8rem;
  color: $white;

  a {
    text-decoration: none;
    color: $softBlue;
  }
}

@media only screen and (min-width: 540px) {
  body {
    align-items: center;
  }
  .card {
    max-width: 25rem;
  }

  .attribution {
    display: none;
    font-size: 1rem;
    font-weight: 400;
  }
}
